@charset "UTF-8";

$link: #409eff;
$linkHover: #ecf5ff;
$white: #ffffff;
$black: #000;
$textColor: #303133;
$baseTextColor:#606266;
$lightTextColor: #909399;
$borderColor: #DCDFE6;
$lightBorderColor: #E4E7ED;
$lightBgColor: #f7f7f7;
$success:#67C23A;
$error: red;